html, body{
    background-color: white;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 108, 184);
    text-align: center;
    color: white;
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    border: medium solid rgb(39, 1, 39);
    margin-top: 7vh;
    font-family: 'Brush Script MT', cursive;
    font-size: 2rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-top: 1vh;
}

.navigation{
    background-color: rgb(184, 108, 184);
    color: white;
    width: 20%;
    height: 80vh;
    border-radius: 10px;
    border: medium solid rgb(39, 1, 39);
    margin-top: 1vh;
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
}
.button{
    background-color: rgb(184, 108, 184);
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
}

.button-about{
    background-color: rgb(184, 108, 184);
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
    margin-left: 1vh;
}

.button-contact{
    background-color: rgb(184, 108, 184);
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
    margin-left: 1vh;
    margin-top: 1vh;
}

.title{
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    margin-left: 1vh;
}

.content{
    background-color: rgb(184, 108, 184);
    color: white;
    width: 80%;
    height: 80vh;
    border-radius: 10px;
    border: medium solid rgb(39, 1, 39);
    margin-top: 1vh;
    font-family: 'Brush Script MT', cursive;
    font-size: 1rem;
    margin-left: 1vh;
}